<div id="banner_frame">
    <ul id="banner">
      <li><a href="https://www.tmu.ac.jp/" target="_blank" rel="noopener"><img src="{% if page.lang == 'en' %}../{% else %}/{% endif %}image/bn1_2020.jpg" alt="東京都立大学"></a></li>
      <li><a href="https://www.sd.tmu.ac.jp/" target="_blank" rel="noopener"><img src="{% if page.lang == 'en' %}../{% else %}/{% endif %}image/bn2_2020.jpg" alt="東京都立大学 システムデザイン学部 大学院システムデザイン研究科"></a></li>
      <li><a href="{% if page.lang == 'en' %}../{% else %}/{% endif %}admission.html"><img src="{% if page.lang == 'en' %}../{% else %}/{% endif %}image/bn3.jpg" alt="入学試験について"></a></li>
      <li><a href="{% if page.lang == 'en' %}../{% else %}/{% endif %}faq.html"><img src="{% if page.lang == 'en' %}../{% else %}/{% endif %}image/bn4.jpg" alt="Q&amp;A"></a></li>
    </ul>
  </div>
