<footer>
    <div id="address_frame">
      <div id="address_img"><a href="{% if page.lang == 'en' %}{{ site.baseurl }}/en/{% else %}{{ site.baseurl }}/{% endif %}index.html"><img src="{% if page.lang == 'en' %}../{% else %}{{ site.baseurl }}/{% endif %}image/footer_2020.jpg" alt="東京都立大学 システムデザイン学部 情報科学科 / 東京都立大学大学院 システムデザイン研究科 システムデザイン専攻 情報科学域"></a></div>
      <address>
      {{ site.data.i18n[page.lang].common.address }}<br>
      {{ site.data.i18n[page.lang].common.tel }}　<a href="{% if page.lang == 'en' %}{{ site.baseurl }}/en/{% else %}{{ site.baseurl }}/{% endif %}access.html">{{ site.data.i18n[page.lang].nav.access }}</a>
      </address>
    </div>
    <p>Copyright &copy; {% if page.copyright_year %}{{ page.copyright_year }}{% else %}2020{% endif %} TOKYO METROPOLITAN UNIVERSITY. All rights reserved.</p>
  </footer>
  <a href="#header" id="page-top"><span class="arrow"></span></a>
