<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} | {% endif %}東京都立大学 システムデザイン学部 情報科学科 / 東京都立大学大学院 システムデザイン研究科 システムデザイン専攻 情報科学域</title>
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/js/script.js"></script>
<link href="/css/style.css" rel="stylesheet" media="all">
<link href="/css/slidebars.css" rel="stylesheet" media="all">
<link rel="icon" href="/favicon.ico">
