<div id="toggle">
    <ul>
      <li class="sb-toggle-left"><span class="css-bar"></span></li>
    </ul>
    <p>MENU</p>
  </div>
  <header id="header">
    <div id="header_link_wrapper">
      <div id="header_link">
        {% if page.ref %}
          {% assign pages=site.pages | where:"ref", page.ref | where_exp:"p", "p.lang != page.lang" %}
          {% for p in pages %}
            <a href="{{ p.url }}"><img src="{{ site.baseurl }}/image/lang.webp" alt="JP/EN"></a>
          {% endfor %}
        {% else %}
          <a href="{% if page.lang == 'en' %}{{ site.baseurl }}/{% else %}{{ site.baseurl }}/en/{% endif %}index.html"><img src="{{ site.baseurl }}/image/lang.webp" alt="JP/EN"></a>
        {% endif %}
      </div>
    </div>
    <h1><a href="{% if page.lang == 'en' %}{{ site.baseurl }}/en/{% else %}{{ site.baseurl }}/{% endif %}index.html"><img src="{% if page.lang == 'en' %}{{ site.baseurl }}/image/toptitle_2020.en.webp{% else %}{{ site.baseurl }}/image/toptitle_2020.webp{% endif %}" alt="東京都立大学 システムデザイン学部 情報科学科 / 東京都立大学大学院 システムデザイン研究科 システムデザイン専攻 情報科学域"></a></h1>
  </header>
