<!DOCTYPE HTML>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}ja{% endif %}">
<head>
{% include head.html %}
</head>
<body>
<div id="sb-site">
{% include header.html %}
{% include navigation.html %}
{% if page.url == "/" or page.url == "/index.html" %}
  <div id="mainvisual">
    <div id="mainvisual_frame"><img src="{% if page.lang == 'en' %}/image/top.en.png{% else %}/image/top.png{% endif %}" alt="プログラミングと数理・論理的思考により社会的価値を創出します"></div>
  </div>
  <main class="top">
    {{ content }}
  </main>
{% else %}
  <main>
    {{ content }}
  </main>
{% endif %}
{% include banner.html %}
{% include footer.html %}
</div>
{% include slidebar.html %}
{% include scripts.html %}
</body>
</html>
